@import "gruvbox_dark.css";

* {
  font-family: FantasqueSansMono Nerd Font;
  font-size: 13px;
  min-height: 0;
}

#waybar {
  background: @base;
  color: @text;
    margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @text;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @yellow;
    border-radius: 1rem;
}

#workspaces button:hover {
  color: @yellow;
  border-radius: 1rem;
}


#workspaces button.urgent {
  background-color: @red;
}

#window {
  color: @text;
  background-color: @base;
    border-radius: 1rem;
  padding: 1rem;
  font-weight: bold;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  color: @text;
}

#battery.charging {
  color: #ffffff;
  background-color: @green;
}

@keyframes blink {
to {
  background-color: @red;
  color: @mantle;
}
}

#cpu {
  color: @green;
}

#memory {
  color: @blue;
}

#backlight {
  color: @aqua;
}

#network {
  color: @green;
}

#network.disconnected {
  color: @red;
}

#pulseaudio {
  color: @orange;
}

#pulseaudio.muted {
  color: @dim_orange;
}

#custom-media {
  color: @green;
}

.custom-spotify {
  color: @green;
}

.custom-vlc {
  color: @dim_orange;
}

#custom-wl-gammarelay-temperature {
  color: @purple;
}

#custom-pomodoro {
  color: @dim_green;
  margin-right: 1em;
}

#temperature {
  color: @yellow;
}

#temperature.critical {
  color: @red;
}

#tray {
  color: @text;
}

#idle_inhibitor {
  color: @blue;
}

#idle_inhibitor.activated {
  color: @dim_blue;
}
